.momento h2 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 2.5rem;
  color: #454545;
  margin-top: 120px;
  text-align: center;
}

.momento-itens {
  display: grid;
  grid-template-columns: 440px 1fr;
  margin-top: 72px;
  gap: 60px;
  padding: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.momento-itens h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.momento img{
  width: 500px;
  height: auto;
}

.momento-itens p {
  font-size: 1.25rem;
  max-width: 66ch;
}

.momento-happy-img {
  grid-column: 1;
  grid-row: 1;
}

.momento-happy-info {
  grid-column: 2;
  grid-row: 1;
}

.momento-aniv {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .momento-trabalho-img,
  .momento-happy-img,
  .momento-aniv-img {
    display: flex;
    justify-content: center;
  }

  .momento h1 {
    margin-top: 60px;
    font-size: 2rem;
  }
  .momento-itens {
    grid-template-columns: 1fr;
  }

  .momento-happy-img {
    grid-column: initial;
    grid-row: initial;
  }

  .momento-happy-info {
    grid-column: initial;
    grid-row: initial;
  }

  .momento-itens {
    margin-top: 48px;
  }
}
